/* ------- Import------- */


@import url("https://use.typekit.net/nkm2mrz.css");

body{
    font-family: "Neue Haas Grotesk Display Pro", Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0px;
}


/*-----colors----*/

.Black{
    fill: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.red{
    fill: #EA2D3F;
    color: #EA2D3F;
}

.green{
    fill: #009879;
    color:  #009879;
}

.transparent{
        opacity: 0.8;
}

.white{
    fill: rgb(255, 255, 255);
    color: white;
}

/*-----Tags----*/

h1{
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 37rem;
    font-weight: 500; 
    line-height: 24.5rem;
    margin: 0;
    }

h2{
    font-family: "Neue Haas Grotesk Display Pro";
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    line-height: 10rem;
    margin: 0;


}

h3{
    font-family: "Neue Haas Grotesk Display Pro";
    font-size:1.7rem;
    font-weight: 400; 
    margin: 0;

}

  /*-----Klassen Grid----*/
.postergraphis99{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}



.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: 1fr repeat(5, 14vw) 1fr;
    /* grid-template-columns: 1fr repeat(5, 14rem) 1fr; */

    overflow: hidden;

    gap: 8px;
  }
  


  .container-ph{

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20.2rem;
 
    grid-row-start: 3;
     grid-column-start: 3;
     grid-row-end: 5;
     grid-column-end: 6;
     justify-self: start; /* Am rechten Rand der Zelle ausrichten */
     align-self: start; /* Am unteren Rand der Zelle ausrichten */
    gap: 8px;

}

  .container-p{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
 
    grid-row-start: 1;
     grid-column-start: 1;
     grid-row-end: 2;
     grid-column-end: 2;
     justify-self: start; /* Am rechten Rand der Zelle ausrichten */
     align-self: start; /* Am unteren Rand der Zelle ausrichten */

}


.titel{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
 
    grid-row-start: 1;
     grid-column-start: 4;
     grid-row-end: 3;
     grid-column-end: 6;
     justify-self: center; /* Am rechten Rand der Zelle ausrichten */
     align-self: start; /* Am unteren Rand der Zelle ausrichten */


}





  /*-----Klassen Appearance----*/




.frame-g{

    grid-row-start: 1;
     grid-column-start: 2;
     grid-row-end: 3;
     grid-column-end: 3;
    justify-self: end;
    align-self: end;
    letter-spacing: -1.7rem;


}

.frame-r{

    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    justify-self: left;
    align-self: end;
    letter-spacing: -0.8rem;
    translate: -1.5rem;
 

}

.graphis{

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    justify-self: center; /* Am rechten Rand der Zelle ausrichten */
    align-self: start; /* Am unteren Rand der Zelle ausrichten */
    z-index: 1;


}

.number99{

    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 2;
    justify-self: end; /* Am rechten Rand der Zelle ausrichten */
    align-self: start; /* Am unteren Rand der Zelle ausrichten */
    translate: 0.4rem -.75rem;
    z-index: 1;

}

.frame-a{

    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
    justify-self: start; /* Am rechten Rand der Zelle ausrichten */
    align-self: end; /* Am unteren Rand der Zelle ausrichten */
    translate: 1vw -5rem;

}


.frame-l{

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    justify-self: start; /* Am rechten Rand der Zelle ausrichten */
    align-self: start; /* Am unteren Rand der Zelle ausrichten */
    letter-spacing: -1.3rem;
    translate: -1.56rem 1.95rem;
    z-index: 1;

}

.frame-o{

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    justify-self: start; /* Am rechten Rand der Zelle ausrichten */
    align-self: start; /* Am unteren Rand der Zelle ausrichten */
    letter-spacing: 0;
    translate: -0.4rem -5.1rem;
  

}

.frame-h{

    grid-row-start: 1;
     grid-column-start: 2;
     grid-row-end: 2;
     grid-column-end: 3;
     justify-self: start;
     align-self: start;
    translate: -1.55rem -2rem;
    z-index: -1;
}

.info-box{

    grid-row-start: 4;
     grid-column-start: 6;
     grid-row-end: 5;
     grid-column-end: 8;
     justify-self: start;
     align-self: end; /* Am unteren Rand der Zelle ausrichten */
     justify-self: center;
     z-index: 0;
     letter-spacing: 0.1rem;
    translate: -3rem 0.7rem;
}

.frame-i{

    grid-row-start: 5 ;
     grid-column-start: 2;
     grid-row-end: 6;
     grid-column-end: 3;
     align-self: end; /* Am unteren Rand der Zelle ausrichten */
     justify-self: end; /* Am rechten Rand der Zelle ausrichten */
     letter-spacing: -1.75rem;
     translate: 0 7rem;



}

.frame-s{

    grid-row-start: 5;
     grid-column-start: 3;
     grid-row-end: 6;
     grid-column-end: 5;
     align-self: end; /* Am unteren Rand der Zelle ausrichten */
     justify-self: start;
     translate: 4.6rem 7rem;

    
}