/* ------- Import------- */

@import url("https://use.typekit.net/nkm2mrz.css");


body {
    font-family: "neue-haas-grotesk-display", Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0px;
}


/*-----colors----*/

.Black {
    fill: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.red {

    color: #EA2D3F;
}

.green {

    color: #009879;
}

.transparent {

    opacity: 0.8;
}

.white {

    color: white;
}

/*-----Tags----*/


h1 {

    font-size: 69.5vh;
    font-weight: 500;
    line-height: 47vh;
    margin: 0;
}

h2 {

    font-size: 10vh;
    font-weight: 500;
    text-align: center;
    line-height: 19vh;
    margin: 0;


}

h3 {

    font-size: 3.5vh;
    font-weight: 400;
    margin: 0;

}

/*----------Klassen Grid---------*/


.postergraphis99 {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-content: center;
}


.grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, minmax(0, 1fr));
    grid-template-columns: minmax(1vw, 15vw) repeat(5, 14vw) minmax(1vw, 15vw);
    /* gap: 8px; */
    overflow: hidden;


}


.container-ph {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 38vh;
    grid-area: 3/3/5/6;
    align-self: center;
    z-index: 0;
    /* gap: 8px; */

}

.container-p {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-area: 1/1/2/2;

}


.container-graphis {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(1vh, 38vh) 1fr 13vw;
    grid-area: 1/3/2/7;
    align-self: end;


}

.container-99 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 38.5vh 1fr;
    grid-area: 2/3/3/6;
    justify-self: center;


}

.info-fix {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(5vw, 15vw);
    grid-area: 3/6/5/8;
    justify-self: end;
    align-self: end;

}

.container-info {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(1vw, 15vw);
    grid-area: 1/1/2/2;
    align-self: end;
    translate: 2.5vw;

}




/*--------------------Klassen Appearance--------------------*/




.frame-g {

    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    justify-self: end;
    align-self: end;
    translate: 8% 1.1%;
    z-index: -1;
    /* animation-name: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out; */


}

.frame-r {

    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 3;
    grid-column-end: 4;
    justify-self: left;
    align-self: end;
    translate: -12% 1%;
    z-index: -1;


}

.graphis {

    grid-area: 1/2/2/3;
    justify-self: start;
    align-self: center;
    translate: -3.5%;


}

.number99 {

    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    justify-self: start;
    align-self: start;
    translate: 0;
    z-index: 1;
    translate: -14% -20%;

}

.frame-a {

    grid-row-start: 1;
    grid-column-start: 6;
    grid-row-end: 3;
    grid-column-end: 7;
    justify-self: start;
    align-self: end;
    translate: 1vw -19.8%;

}


.frame-l {

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    justify-self: start;
    align-self: start;
    translate: -19.3% 14%;
    z-index: 1;

}

.frame-o {

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    justify-self: start;
    align-self: start;
    translate: -1.5% -13.5%;


}

.frame-h {

    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    justify-self: start;
    align-self: start;
    translate: -8% -6.6%;
}

.info-box {

    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
    justify-self: start;
    align-self: end;
    translate: 0vw -6%;
    z-index: 2;


}

.frame-i {

    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 6;
    grid-column-end: 3;
    align-self: end;
    justify-self: end;

    translate: 21% 34%;




}

.frame-s {

    grid-row-start: 5;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 5;
    align-self: end;
    justify-self: start;
    translate: 23% 34%;
    z-index: -1;


}



/* ----------------- LINES HORIZONTAL----------------- */

.line-horizontal-1 {

    grid-area: 1/1/3/8;
    align-self: end;


}

.line-horizontal-2 {

    grid-area: 3/1/5/8;
    align-self: center;

}

.line-horizontal-3 {

    grid-area: 3/1/5/8;
    align-self: center;

}

.line-horizontal-4 {

    grid-area: 5/1/6/8;
    align-self: end;

}

.lh1,
.lh2,
.lh3,
.lh4 {
    width: 100vw;
    height: 1.5px;
    background-color: white;
    z-index: 10;
    opacity: 0;

}

.lh1,
.lh2,
.lh3,
.lh4 {

    animation-name: slide-in-left-line;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.61, .33, .66, .83);
    animation-fill-mode: forwards;


}

.lh1 {

    translate: 0 -9.5vh;
    animation-delay: 1s;

}

.lh2 {

    translate: 0 -19.8vh;
    animation-delay: 2s;
}

.lh3 {

    translate: 0 17.8vh;
    animation-delay: 3s;
}

.lh4 {

    translate: 0 -20vh;
    animation-delay: 4s;


}






/* ----------------- LINES VERTICAL----------------- */



.line-vertical-1,
.line-vertical-2,
.line-vertical-4 {

    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 4;



}


.line-vertical-3 {

    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 4;


}


.lv1,
.lv2,
.lv3,
.lv4 {
    width: 1.5px;
    height: 100vh;
    background-color: white;
    z-index: 10;
    opacity: 0;
    animation-name: slide-in-top-line;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(.61, .33, .66, .83);
    animation-fill-mode: forwards;
}

.lv1 {
    animation-delay: 1s;

}

.lv2 {
    translate: 9.5vh;
    animation-delay: 2s;
}

.lv3 {
    translate: 38vh;
    animation-delay: 3s;

}

.lv4 {
    translate: 47.4vh;
    animation-delay: 4s;

}


.rectangle {

    grid-area: 3/3/4/4;
    transform: translate(38vh, -9.6vh);
    width: 9.5vh;
    height: 9.6vh;
    background-color: #EA2D3F;
    z-index: 10;
}






/* ----------------- ANIMATION----------------- */

.frame-g,
.frame-r,
.frame-a,
.frame-l,
.frame-h,
.frame-i,
.frame-s,
.info-box,
.graphis,
.number99 {
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.61, .33, .66, .83);
    opacity: 0;
}

.frame-r,
.frame-l,
.frame-h {
    animation-name: slide-in-top-font;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.frame-i,
.frame-s {
    animation-name: slide-in-bottom-font;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.frame-g {
    animation-name: slide-in-left-font;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.frame-a {

    animation-name: slide-in-a;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


.graphis,
.number99,
.info-box {
    animation-name: opacity;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}




@keyframes slide-in-left-line {

    0% {
        transform: translate(-100vw, 0);
        opacity: 1;

    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes slide-in-top-line {
    0% {
        transform: translate(0, -100vh);
        opacity: 1;

    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }

}

@keyframes slide-in-left-font {
    0% {
        transform: translate(-100vw, 0);
        opacity: 1;

    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }


}

@keyframes slide-in-top-font {
    0% {
        transform: translate(0, -100vh);
        opacity: 1;

    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }

}

@keyframes slide-in-bottom-font {
    0% {
        transform: translate(0, 100vh);
        opacity: 1;

    }

    100% {
        transform: translate(0, 0);
        opacity: 1;

    }


}

@keyframes slide-in-a {
    0% {  
        transform: translate(-20vw, -100vh);
        opacity: 1;

    }

    100% {     
        transform: translate(-20vw, 0);
        opacity: 1;

    }
    /* 100% {     

        transform: translate(0, 0);
        opacity: 1;

    } */


}



@keyframes opacity {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}