/* ------- Import ------- */
@import url("https://use.typekit.net/nkm2mrz.css");

body {
    font-family: "Neue Haas Grotesk Display Pro", Helvetica, Arial, sans-serif;
    height: 100vh; /* volle Höhe */
    width: 100vw; /* volle Breite */
    background-color: black;
    margin: 0;
}

/*-----colors----*/
.Black {
    fill: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.red {
    fill: #EA2D3F;
    color: #EA2D3F;
}

.green {
    fill: #009879;
    color: #009879;
}

.transparent {
    opacity: 0.8;
}

.white {
    fill: rgb(255, 255, 255);
    color: white;
}

/*-----Tags----*/
h1, h2, h3 {
    margin: 0;
}

h1 {
    font-size: 5vh; /* vorher 37rem, umgestellt auf vh */
    line-height: 5vh; /* vorher 24.5rem */
}

h2 {
    font-size: 4vh; /* vorher 5rem */
    line-height: 10vh; /* vorher 10rem */
    text-align: center;
}

h3 {
    font-size: 2vh; /* vorher 1.7rem */
}

/*----------Klassen Grid---------*/
.postergraphis99 {
    display: grid;
    height: 100%; /* volle Höhe des Containers */
    width: 100%; /* volle Breite des Containers */
}

.grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 5vw repeat(5, 14vw) 5vw; /* Spaltenbreiten in vw */
    gap: 1vh; /* Lücke in vh */
    width: 100%;
    height: 100%;
}

.container-ph {
    display: grid;
    grid-template-columns: 20vw 1fr; /* 20vw für das erste Element */
    grid-area: 3 / 3 / 5 / 6; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: center;
}

.container-graphis {
    grid-area: 1 / 3 / 2 / 7; /* row-start / column-start / row-end / column-end */
}

.container-99 {
    grid-area: 2 / 3 / 3 / 6; /* row-start / column-start / row-end / column-end */
}

.container-info {
    display: grid;
    grid-template-columns: 1fr minmax(8px, 9vw); /* 9vw für das zweite Element */
    grid-area: 3 / 6 / 5 / 8; /* row-start / column-start / row-end / column-end */
}

/*--------------------Klassen Appearance--------------------*/
.frame-g {
    grid-area: 1 / 2 / 3 / 3; /* row-start / column-start / row-end / column-end */
    justify-self: end;
    align-self: end;
    letter-spacing: -1.7rem;
}

.frame-r {
    grid-area: 1 / 3 / 3 / 4; /* row-start / column-start / row-end / column-end */
    justify-self: left;
    align-self: end;
    letter-spacing: -0.8rem;
    translate: -1.5rem;
}

.graphis {
    grid-area: 1 / 2 / 2 / 3; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: center;
    z-index: 1;
}

.number99 {
    grid-area: 2 / 2 / 3 / 3; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: start;
    translate: 0.1rem -0.75rem;
    z-index: 1;
}

.frame-a {
    grid-area: 4 / 6 / 5 / 7; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: end;
    translate: 1vw -5rem;
}

.frame-l {
    grid-area: 1 / 1 / 2 / 3; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: start;
    letter-spacing: -1.3rem;
    translate: -1.56rem 1.95rem;
    z-index: 1;
}

.frame-o {
    grid-area: 1 / 1 / 2 / 3; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: start;
    letter-spacing: 0;
    translate: -0.4rem -5.1rem;
}

.frame-h {
    grid-area: 2 / 2 / 3 / 3; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: start;
    translate: -1.55rem -2rem;
    z-index: -1;
}

.info-box {
    grid-area: 4 / 1 / 5 / 2; /* row-start / column-start / row-end / column-end */
    justify-self: start;
    align-self: end;
    letter-spacing: 0.1rem;
    z-index: 1;
}

.frame-i {
    grid-area: 5 / 2 / 6 / 3; /* row-start / column-start / row-end / column-end */
    align-self: end;
    justify-self: end;
    letter-spacing: -1.75rem;
    translate: 0 7rem;
}

.frame-s {
    grid-area: 5 / 3 / 6 / 5; /* row-start / column-start / row-end / column-end */
    align-self: end;
    justify-self: start;
    translate: 4.6rem 7rem;
}

/* ----------------- BREAKPOINT MOBILE S ----------------- */
@media (max-width: 640px) {
    h1 {
        font-size: 10vh; /* vorher 20rem */
        line-height: 13vh; /* vorher 13rem */
    }

    h2 {
        font-size: 5vh; /* vorher 3rem */
        line-height: 2vh; /* vorher 2rem */
    }

    h3 {
        font-size: 1.5vh; /* vorher .9rem */
    }

    .container-ph {
        grid-template-columns: 10vw 1fr; /* vorher 10rem */
        align-self: center;
    }

    .container-graphis {
        grid-template-columns: minmax(0, 10vw) 1fr 14vw; /* 10.5rem und 14vw umgerechnet */
    }
}





/* ----------------- BREAKPOINT TABLET M ----------------- */


/* @media (max-width: 768px) {

    
} */




/* ----------------- EFFECTS AND MOVEMENTS ----------------- */


.overlap {
    mix-blend-mode: difference;
}

/* height: 2px;
    width: 100vw;
    background-color: white; */

.lh {
    height: 2px;
    width: 100vw;
    background-color: white;

}


.lh-1 {
    z-index: 100;
}