/* ----------------- BREAKPOINT MOBILE S ----------------- */

@media (max-width: 640px) {

    /*-----Tags----*/


    h1 {
        font-size: 45vh;
        line-height: 29.6vh;
    }

    h2 {
        font-size: 7.5vh;
    }

    h3 {
        font-size: 2vh;
    }



    /*----------Klassen Grid---------*/

   .grid{
    grid-template-columns:0.5fr repeat(5, 14vw) minmax(1vw, 1fr);
   }
   

    .container-ph {
        grid-template-columns: 24.6vh;



    }



    .container-graphis {
        grid-template-columns: 1;
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 2;
        grid-column-end: 6;



    }

    .container-99 {
        grid-template-rows: 1fr;
        grid-template-columns: 24.8vh;
        grid-column-start: 3;
        grid-column-end: 7;



    }

    .info-fix {

        grid-row-start: 4;
        grid-column-start: 6;
        grid-row-end: 6;
        grid-column-end: 8;
        align-self: center;

    }




    /*--------------------Klassen Appearance--------------------*/



    .frame-g {
        grid-row-start: 2;
        translate: 8% 0.2%;



    }

    .frame-r {
        translate: -12% 0.1%;


    }

    .frame-a {
        grid-row-end: 2;
        translate: 1vw -10.5%;

    }

    .graphis {
        translate: 6.5 -7%;
    }

    .number99 {
        translate: -19% -10%;
    }

    .frame-l {

        translate: -19.3% 10%;

    }

    .frame-o {

        translate: -1.5% -18.5%;

    }

    .frame-h {
        translate: -8% -9%;

    }

    .info-box {
        translate: 0vw 33%;

    }

    .frame-i {
        align-self: start;
        translate: 20%;

    }

    .frame-s {
        align-self: start;
        justify-self: start;
        translate: -4.5%;

    }

    .line-horizontal-1 {

        grid-row-start: 3;
        align-self: start;
    }

    .lh1 {
        translate: 0 5.7vh;
    }


    .lh3 {
        translate: 0 10.2vh;
    }

    .line-horizontal-4 {
        grid-row-start: 3;
        grid-row-end: 5;
        align-self: start;

    }

    .lh4 {
        translate: 0 32.2vh;
    }



    .lv2 {

        translate: 6vh;
    }

    .lv3 {

        translate: 24.6vh;

    }

    .lv4 {

        translate: 30.6vh;

    }

}











/* ----------------- BREAKPOINT TABLET M ----------------- */


/* @media (max-width: 768px) {

    
} */